@import "tailwindcss";

.inter > {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.gradient-text {
  background-image: linear-gradient(15deg, #f7e93f, #fb09b4, #9100f8);
  color: transparent;
  background-clip: text;
}

.gradient {
  background-image: linear-gradient(47deg, #f7e93f, #fb09b4, #9100f8);
}

#audio {
  grid-area: audio;
}

#mobile {
  grid-area: mobile;
}

#globe {
  grid-area: globe;
}

#zap {
  grid-area: zap;
}

#resource {
  grid-area: resource;
}

#feature-container {
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 3;
  grid-template-areas: 
  'audio mobile mobile'
  'audio globe  globe'
  'zap   zap    resource';
  gap: 30px;
}

@media screen and (max-width: 576px) {
  #feature-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}